*{
  text-align: center;
  vertical-align: middle;
  margin-left: 0px;
  margin-right: 0px;
}
td{
    text-align: left;
    padding-left: 15px
}
.entry-inputcheck #shop{
  width: 550px;
  height: 300px;
}
p{
  margin: 10px;
}
h3{
  margin: 10px;
}
form{
  margin: 20px;
}
.tblcolor{
  text-align: center;
}
#cnfpass{
  font-size: 12px;
}