*{
  text-align: center;
  vertical-align: middle;
  margin-left: 0px;
  margin-right: 0px;
}
#shop{
  font-size: 24px;
  font-weight: bold;
  vertical-align: middle;
  width: 750px;
  height: 350px;
  margin: auto;
}
#alert{
  color: red;
  font-size: 24px;
}
#warm{
  color: gray;
  font-size: 14px;
}
#warmtable{
  display: block;
}
#input{
  width: 300px;
  height: 40px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border:solid 1px #cccccc
}
#inputpass{
  width: 300px;
  height: 40px;
  padding : 10px;
  font-size: 18px;
  font-weight: bold;
  border:solid 1px #cccccc
}
#span{
  font-size: 18px;
}
.tblcolor{
 background-color: lawngreen;
 margin: auto; 
}
.btn{
  width: 280px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 6px;
  margin-left: 5px;
  margin-right: 5px;
}
#confilm{
  background-color: aqua;
}
#footer-password{
  padding-left: 50px;
  text-align: left;
}

#backhome{
  /*entry3用*/
  font-size: 18px;
}