.vertical-scroll-table{
	color: #5e5e5e;
    max-height: 300px;
	overflow: auto;
    overflow-x: hidden;
    padding: 5px;
}
.vertical-scroll-table table{
	width: 600px;
	border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
}
.vertical-scroll-table table thead tr{
    border: 1px solid #ddd;
	font-weight: bold;
	text-align: center;
	background-color: #f3f4f5;
}
.vertical-scroll-table table tbody tr:nth-child(even){
	background-color: #fafbfc;
}
.vertical-scroll-table table td{
	padding: 5px;
    border: 1px solid #ddd;
    text-align: center;
}